In [12]:
import pandas as pd # data munging
import seaborn as sns #visualization
import matplotlib.pyplot as plt #visualization
from sklearn.ensemble import RandomForestClassifier #for a classification model
import numpy as np #scientific computing
from sklearn.model_selection import train_test_split # split the data into training and testing sets

## set working directory

In [2]:
import os
os.chdir('/home/sahibachopra/packt/')

## load the data

In [3]:
data = pd.read_csv('german_credit.csv')

In [5]:
data.head()

,Creditability,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Credit Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,...,Duration in Current address,Most valuable available asset,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2

## split the data into predictor variables xVar and response variables yVar

In [7]:
yVar = data['Creditability']
xVar = data.loc[:, data.columns != 'Creditability']

## split our data into training and testing sets
- 20% of the data into the testing set

In [8]:
X_train, X_test, y_train, y_test = train_test_split(xVar, yVar, test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(800, 20) (800,)
(200, 20) (200,)

# Build a random forest classifier

In [9]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)

clf.fit(X_train, y_train)
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=2, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=1e-07,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

# Predict

In [10]:
preds = clf.predict(X_test)

# Evaluate results
- 152 / 200 predicted correctly

In [11]:
pd.crosstab(y_test, preds, rownames=['Actual Result'], colnames=['Predicted Result'])

Predicted Result   0    1
Actual Result
0                 30   28
1                 20  122